{% extends 'base2.html'%}
{% load staticfiles %}

{% block kuppe %}
     <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/forms.css" %}" />

     <script type="text/javascript">
        var urlphoto = "{% url 'addphoto' %}";
     </script>

    <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
     <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block content %}
<div class="forms_box">
    <form name="addcontact" id="addcontact"  method="post" action="addcontact" enctype="multipart/form-data">
           {%csrf_token%}
           <input type="hidden" name="id" id="id"  value="" />
           <input type="hidden" name="photoc" id="photoc" value=""  />
            <div id="generalinfo_box">
                <div class="hdform">Agregar nuevo Contacto o <a href="/entity" class="t5">agregar Organización</a></div>
                <div id="texts_box" class="inline_blocke">
                    <ul>
                        <li>
                            <label class="inline_blocke" to="name">Nombre</label>
                            <input type="text" name="namec" id="namec" maxlength="100" tabindex="1"  class="void"  />
                        </li>
                        <li>
                            <label class="inline_blocke" to="name">Apellido</label>
                            <input type="text" name="lastname" id="lastname" maxlength="100" tabindex="2" class="void" />
                        </li>
                       <li>
                            <label class="inline_blocke" to="chargec">Cargo</label>
                            <input type="text" name="chargec" id="chargec" maxlength="100" tabindex="3"  />
                        </li>
                    </ul>
                </div>
                <div id="photo_box" class="inline_blocke">
                    <div id="submit_photo_box">
                        <span class="inline_blocke imagen_label">Agregar Imágen</span>
                        <a href="#addphoto" id="addphoto" class="inline_blocke">Seleccionar Archivo</a>
                        <input type="file" name="contact_file" id="contact_file" style="display:none;"/>
                    </div>
                    <div class="loadphoto"></div>
                    <br/>
                    <div>
                        <a href="#delphoto" class=" delphoto">Eliminar</a>
                        <img src="{% static "images/nophoto.jpg"%}" class="myphoto" height="90px" />
                    </div>
                </div>
            </div>
            <ul id="list_fields">
                {% for a in lista%}
                    {% include "pices/ioptioner.html"%} 
                {% endfor %}
                <li>
                    <label to="twitter" class="inline_blocke">Twitter</label>
                    <input type="text" name="twitter" id="twitter" maxlength="100" />
                </li>
                <li>
                    <label to="address" class="inline_blocke">Dirección</label>
                    <input type="text" name="address" id="" maxlength="100" />
                </li>
                <li>
                    <label class="inline_blocke">Estado</label>
                    <select name="estado" class="location_drop" >
                        {% for std in states %}
                            <option value="{{std.estado}}">{{std.estado}}</option>
                        {% endfor %}
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tomunicipio">Del./Municipio</label>
                    <select name="delomun" id="delomun" disabled="disabled">
                    <option value="">Debe seleccionar un Estado</option>
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tocolonia">Colonia</label>
                     <select name="colonia" id="colonia" disabled="disabled">
                    <option value="">Debe seleccionar un Estado</option>
                    </select>
                </li>
                <li>
                    <label to="cp" class="inline_blocke">C.P.</label>
                    <input type="text" name="cp" id="cp" maxlength="10" style="width:80px;" class="void" />
                    <input type="hidden" name="latitude" />
                    <input type="hidden" name="longitude" />
                </li>
                <li>
                    <div class="inline_blocke">
                        <label>Información Extra<span class="t5"> (biografía,notas,comó conocio la asociación)</span></label>
                    </div><br/>
                    <textarea name="extrac" id="extrac" rows="9"></textarea>
                </li>
            </ul>
            <br/>
            <div id="btn_green">
                <span class="inline_blocke" id ="saver_box">
                    <input  id="btn_save" type="submit" value="Guardar" class="btn_green"/>
                    <span>o <a href="/mycontacts">Cancelar</a></span>
                </span> 
            </div>
            <br/>
        </form>
</div>
<iframe name="nopest" class="blind">No frames</iframe>
{% endblock %}
