{% extends 'base2.html'%}
{% load staticfiles %}

{% block kuppe %}
     <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/forms.css" %}" />
     <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
     <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block content %}
<div class="forms_box">
    <form name="addcontact" id="addcontact"  method="post" action="addcontact" enctype="multipart/form-data">
           {%csrf_token%}
           <input type="hidden" name="photoc" id="photoc" value="{% if contact.photoc%}{{contact.photoc}}{% endif%}"  />
           <input type="hidden" name="id" id="id"  value="{{contact.pk}}" />
            <div id="generalinfo_box">
                <div class="hdform">Editando Contacto o  <a href="/entity" class="t5">agregar Organización</a></div>
                <div id="texts_box" class="inline_blocke">
                    <ul>
                        <li>
                            <label class="inline_blocke" to="name">Nombre</label>
                            <input type="text" name="namec" id="namec" maxlength="100" tabindex="1"  class="void" value="{{contact.namec}}" />
                        </li>
                        <li>
                            <label class="inline_blocke" to="name">Apellido</label>
                            <input type="text" name="lastname" id="lastname" maxlength="100" tabindex="2" class="void" value="{{contact.lastname}}" />
                        </li>
                       <li>
                            <label class="inline_blocke" to="chargec">Cargo</label>
                            <input type="text" name="chargec" id="chargec" maxlength="100" tabindex="3" value="{{contact.chargec}}" />
                        </li>
                    </ul>
                </div>
                <div id="photo_box" class="inline_blocke">
                    <div id="submit_photo_box">
                        <span class="inline_blocke imagen_label">Agregar Imágen</span>
                        <a href="#addphoto" id="addphoto" class="inline_blocke">Seleccionar Archivo</a>
                        <input type="file" name="contact_file" id="contact_file" style="display:none;"/>
                    </div>
                    <div class="loadphoto"></div>
                    <br/>
                    <div>
                        <a href="#/delphoto/{{contact.photoimg.pk}}/" class="delphoto">Eliminar</a>
                            {% if contact.photoimg.contact_file.url %}
                            <img src="/static/{{contact.photoimg.contact_file.url}}" class="myphoto"  height="90px" />
                            {% else %}
                            <img src="/static/images/nophoto.jpg"  class="myphoto" height="90px" />
                            {% endif %}
                    </div>
                </div>
            </div>

            <ul id="list_fields">
            {% if not contact.phone_list%}
              <li>
                    <label to="phones" class="inline_blocke">Teléfono</label>
                    <input type="text" name="phone"  maxlength="100" class="v_phone" placeholder="xx-xxxx-xxxx"/>
                    <select name="typeofphone" class="selector">
                        <option value="Trabajo">Trabajo</option>
                        <option value="Casa">Casa</option>
                        <option value="Otro">Otro</option>
                    </select>
                    &nbsp;&nbsp;
                    <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removerphone" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>
                </li>
             {% endif %}
                
                {% for x in contact.phone_list %}
                <li>
                    <label to="phones" class="inline_blocke">Teléfono</label>
                    <input type="text" name="phone"  maxlength="100" class="v_phone" placeholder="xx-xxxx-xxxx" value="{{x.phones}}"/>
                    {% load tager %}
                    <select name="typeofphone" class="selector">
                        <option value="Trabajo" {%alberto 0 x.typephones %}> Trabajo</option>
                        <option value="Casa" {%alberto 1 x.typephones %}> Casa</option>
                        <option value="Otro"{%alberto 2 x.typephones %}>Otro</option>
                    </select>
                  &nbsp;&nbsp;  <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removerphone" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>&nbsp;&nbsp;
                </li>
                {% endfor%}
                
                {% for item in contact.emaillist_set.all %}
                <li>
                    <label to="phones" class="inline_blocke">Email</label>
                    <input type="text" name="email"  maxlength="100" class="v_email" placeholder="" value="{{item.email}}"/>
                    <select name="typeofemail" class="selector">
                        <option value="Trabajo" {%alberto 0 item.typeofemail  %}>Trabajo</option>
                        <option value="Casa" {%alberto 1 item.typeofemail  %}>Casa</option>
                        <option value="Otro" {%alberto 2 item.typeofemail  %}>Otro</option>
                    </select>
                   &nbsp;&nbsp; <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removeremail" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>
                </li>
                {% endfor%}
               
                {% if not contact.urls_list %}

                <li>
                    <label to="phones" class="inline_blocke">Sitio Web</label>
                    <input type="text" name="url"  maxlength="100" class="v_"  value="{{x.urls}}"/>
                    {% load tager %}
                    <select name="typeofurl" class="selector">
                        <option value="Trabajo" {%alberto 0 x.typeurls %}> Trabajo</option>
                        <option value="Casa" {%alberto 1 x.typeurls %}> Casa</option>
                        <option value="Otro"{%alberto 2 x.typeurls %}>Otro</option>
                    </select>
                  &nbsp;&nbsp;  <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removerurl" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>&nbsp;&nbsp;
                </li>

                {%endif%}
                 {% for x in contact.urls_list %}
                <li>
                    <label to="phones" class="inline_blocke">Sitio Web</label>
                    <input type="text" name="url"  maxlength="100" class="v_"  value="{{x.urls}}"/>
                    {% load tager %}
                    <select name="typeofurl" class="selector">
                        <option value="Trabajo" {%alberto 0 x.typeurls %}> Trabajo</option>
                        <option value="Casa" {%alberto 1 x.typeurls %}> Casa</option>
                        <option value="Otro"{%alberto 2 x.typeurls %}>Otro</option>
                    </select>
                  &nbsp;&nbsp;  <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removerurl" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>&nbsp;&nbsp;
                </li>
                {% endfor%}



                <li>
                    <label to="twitter" class="inline_blocke">Twitter</label>
                    <input type="text" name="twitter" id="twitter" maxlength="100" value="{{contact.socialinfo.account}}" />
                </li>
                <li>
                    <label to="address" class="inline_blocke">Dirección</label>
                    <input type="text" name="address" id="" maxlength="100" value="{{contact.address}}"/>
                </li>

                <li>
                    <label class="inline_blocke">Estado</label>
                    <select name="estado" class="location_drop" >
                        {% for std in states %}
                            <option value="{{std.estado}}" {% ifequal std.estado contact.estado %} selected="selected" {% endifequal%}>{{std.estado}}</option>
                        {% endfor %}
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tomunicipio">Del./Municipio</label>
                    <input type="hidden" id="otherdelomun" name="anotherdelomun" value="{{contact.delomun}}" />
                    <select name="delomun" id="delomun">
                    <option value="">Debe seleccionar un Estado</option>
                    </select>
                </li>
               <li>
                    <label class="inline_blocke" id="tocolonia">Colonia</label>
                     <input type="hidden" id="othercolonia" name="othercolonia" value="{{contact.colonia}}" />
                     <select name="colonia" id="colonia" class="">
                    <option value="">Debe seleccionar un Estado</option>
                    </select>
                </li>


                <li>
                    <label to="cp" class="inline_blocke">C.P.</label>
                    <input type="text" name="cp" id="cp" maxlength="10" style="width:80px;" class="void" value="{{contact.cp}}"/>
                    <input type="hidden" name="latitude" value="{{contact.lat}}"/>
                    <input type="hidden" name="longitude" value="{{contact.lon}}"/>
                </li>
                <li>
                    <label to="extra" class="inline_blocke">Extra</label><br/>
                    <textarea name="extrac" id="extrac" rows="3">{{contact.extrac}}</textarea>
                </li>
            </ul>
            <div id="btn_green">
                <span class="inline_blocke" id ="saver_box">
                    <input  id="btn_save" type="submit" value="Guardar" class="btn_green"/>
                    <span>o <a href="/detailcontact/{{contact.pk}}/">Cancelar</a></span>
                </span> 
            </div>
            <br/>
        </form>
</div>
<iframe name="nopest" class="blind">No frames</iframe>


<script type="text/javascript">
$('.location_drop').selectmenu({
    create:restLocation,
    change:restLocation 
    });
</script>

{% endblock %}
