<form id="search_form" method="post" action="/resultados">
    {%csrf_token%}
    <input type="hidden" name="tag" id="tag" value="{{form.tag}}" />
    <input type="hidden" name="words" value="{{form.words}}" />
    <input type="hidden" name="page" value="1" />
    <div class="inline_blocke t6">Busca por:</div>
    <div class=" t7">
        <a href="#email" class="chowinput">eMail</a>
        <input id="email" class="{% if not formdata.email%}blind{% endif %}" type="text" name="email" value="{{formdata.email}}" />
    </div>
    <div>
        <a href="#namec" class="chowinput">Nombre</a>
        <input id="namec"  type="text" class="{% if not  formdata.namec%}blind{% endif%}" name="namec" id="namec" value="{{formdata.namec}}" />
    </div>
    <div class=" t6">
        <a href="#location" class="chowinput">Localización</a>
        <div id="location" class="{% if not formdata.estado%}blind{% endif %}">
        <select name="estado" class="location_drop">
            <option value=''>Seleccione</option>
            {% for s in location.0 %}
                <option value="{{s.estado}}"  {% ifequal  formdata.estado s.estado %} selected="selected" {% endifequal %}>{{s.estado}}</option>
            {% endfor %}
        </select>
        <label id="tomunicipio">Municipio: </label>
        <select name="delomiun" id="delomun" name="delomun">
            <option value="">Seleccione</option>
            {% for c in location.1 %}
                <option value="{{c.municipio}}">{{c.municipio}}</option>
            {% endfor %}
        </select>
        </div>
    </div>
    <input type="submit" value="Bsucar" class="btn_green"/>
    <ul class="blind">
        {% for x,y in formdata.items %}
        {% if y %}<li>{{x}}={{y}}</li>{% endif %}
        {% endfor %}
    </ul>
</form>

