.hdform{
    font-size:14px;color:#121617;font-weight:400;
    padding:12px 0px;
    
}

.forms_box{
    width:71%;background:#FFF;    
}

#generalinfo_box{
    text-align:left;padding:10px 30px;
    background:#E0E0E0;        
}

#generalinfo_box li{
    border:0px solid;margin:2px;
}

#texts_box{
    width:63%;margin:auto;    
}


#photo_box{
    text-align:right;padding-top:7px;
}

#submit_photo_box{
    text-align:right;
}

form{
    font-size:12px;
}

form label{
        width:100px;text-align:left !important;
        font-size:13px;color:#000006;height:27px;
        line-height:28px;
}

form ul li{
    padding:10px 0px;
    border-bottom:1px solid #EDEDED;
}

form input[type="text"], form textarea{
    width:60%;height:22px;padding:2px;
    
}

/* form select{
        font-size:12px;padding:2px;margin-left:4px;
    }
*/

form input:focus{
    border:1px solid #666;    
}


form input[type="file"]{ width:65px;font-size:9px;}

#list_fields{
    text-align:left;padding:0px 30px;width:90%;
}

#list_fields input[type="text"]{
    border:1px solid #DDD;width:39%;margin-right:12px;
}

#list_fields textarea{
    margin-top:12px;
    border:1px solid #DDD;margin-right:12px;
    width:99%;height:61px;
}

.err_field{
    border:2px solid red;
}

.tooltip{
    position:absolute;width:40%;margin:auto;left:0px;top:0px;background:blue;display:none;
    
}

#btn_save{
    font-weight:500;font-size:12px;padding:5px;

}

.delphoto{
    padding:10px 6px 0px 0px;color:#EF4A56;    
}

#addphoto,#addephoto
{
    margin:0px 2px;text-decoration:none;background:#000;padding:2px 10px;
    color:#FFF;border-radius:2px;
}

.imagen_label{
    padding-right:12px;    
}


