
{% extends 'base2.html'%}
{% load staticfiles %}

{% block kuppe %}
 
     <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/forms.css" %}" />
    <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
     <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block content %}
<div class="forms_box">

    <form name="addentity" id="addentity"  method="post" action="addentity" enctype="multipart/form-data">
           {%csrf_token%}
           <input type="hidden" name="id" id="id" value="{{ent.pk}}"/>
           <input type="hidden" name="photoa" id="photoa" value="{{ent.photoa}}" />
            <div id="generalinfo_box">
                 <div class="hdform">Agregar nueva Organización o <a href="/contacto" class="t5">agregar Contacto</a></div>
               <div id="texts_box" class="inline_blocke">
                    <ul>
                        <li>
                            <label class="inline_blocke" to="nameac">Organización</label>
                            <input type="text" name="nameac" id="nameac" maxlength="100" tabindex="1"  class="void" value="{{ent.nameac}}"/>
                        </li>
                        <li>
                          <label to="twitteract" class="inline_blocke">Twitter</label>
                          <input type="text" name="twitteract" id="twitteract" maxlength="100"  value="{{ent.twitteract}}"/>
                        </li>
                         <li style="display:none;">
                          <label to="twitteract" class="inline_blocke">Tag</label>
                          <input type="text" name="tag" id="tag" maxlength="100" />
                        </li>
                   </ul>
                </div>
                <div id="photo_box" class="inline_blocke">
                    <div>
                         <span class="inline_blocke imagen_label">Agregar Imágen</span> 
                        <input type="file" name="entity_file" id="entity_file" class="blind"  />
                        <a href="#addphoto" id="addephoto" class="inline_blocke">Seleccionar Archivo</a>
                    </div>
                    <br/>
                    <div>
                        <a href="#/edelphoto/{{ent.photoimg.pk}}/" class=" delphoto">Eliminar</a>
                        {% if not ent.photoa%}
                        <img src="{% static "images/nophoto.jpg"%}" class="myphoto" height="90px" />
                        {% else %}
                        <img src="/static/{{ent.photoimg.entity_file.url}}" class="myphoto" height="90px" />
                        {% endif %}
                    </div>
                </div>
            </div>
            <ul id="list_fields">
               {% load tager %}
               {% for p in ent.phones_list%}
                <li>
                    <label  class="inline_blocke">Teléfono</label>
                    <input type="text" name="phone"  maxlength="100" class="v_phone"  value="{{p.phone}}"  />
                   <select name="typeofphone" class="selector">
                        <option value="Trabajo" {%alberto 0 p.typePhone %}>Trabajo</option>
                        <option value="Casa" {%alberto 1 p.typePhone %}>Casa</option>
                        <option value="Otro" {%alberto 2 p.typePhone %}>Otro</option>
                    </select>
                    &nbsp;&nbsp;
                    <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removerphone" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>
                </li>
                {% endfor %}
                {% if not ent.phones_list%}
                <li>
                    <label  class="inline_blocke">Teléfono</label>
                    <input type="text" name="phone"  maxlength="100" class="v_phone"  />
                   <select name="typeofphone" class="selector">
                        <option value="Trabajo">Trabajo</option>
                        <option value="Casa">Casa</option>
                        <option value="Otro">Otro</option>
                    </select>
                    &nbsp;&nbsp;
                    <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removerphone" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>
                </li>
                {% endif %}
                {% for en in ent.email_list %}
                <li>
                    <label  class="inline_blocke">Email</label>
                    <input type="text" name="email"  maxlength="100" class="v_email" value="{{en.email}}" />
                   <select name="typeofemail" class="selector">
                        <option value="Trabajo">Trabajo</option>
                        <option value="Casa">Casa</option>
                        <option value="Otro">Otro</option>
                    </select>
                    &nbsp;&nbsp;
                    <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removeremail" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>
                </li>
                {% endfor %}
                {% if not ent.email_list %}
                 <li>
                    <label  class="inline_blocke">Email</label>
                    <input type="text" name="email"  maxlength="100" class="v_email"
                    <select name="typeofemail" class="selector">
                        <option value="Trabajo">Trabajo</option>
                        <option value="Casa">Casa</option>
                        <option value="Otro">Otro</option>
                    </select>
                    &nbsp;&nbsp;
                    <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removeremail" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>
                </li>               
                {% endif %}

                {% for ur in ent.urls_list %}
                 <li>
                    <label  class="inline_blocke">Sitio Web</label>
                    <input type="text" name="url"  maxlength="100" class="v_url"  value="{{ur.url}}"/>
                   <select name="typeofurl" class="selector">
                        <option value="Trabajo" {% alberto 0 ur.typeofUrl%}>Trabajo</option>
                        <option value="Casa" {% alberto 1 ur.typeofUrl%}>Casa</option>
                        <option value="Otro" {% alberto 2 ur.typeofUrl%}>Otro</option>
                    </select>
                    &nbsp;&nbsp;
                    <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removerurl" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>
                </li>
                {% endfor %}
                {% if not ent.urls_list  %}
                <li>
                    <label  class="inline_blocke">Sitio Web</label>
                    <input type="text" name="url"  maxlength="100" class="v_url"  />
                   <select name="typeofurl" class="selector">
                        <option value="Trabajo">Trabajo</option>
                        <option value="Casa">Casa</option>
                        <option value="Otro">Otro</option>
                    </select>
                    &nbsp;&nbsp;
                    <div class="inline_blocke">
                        <a href="#add" class="adder glyphicon glyphicon-plus-sign">&nbsp;</a>&nbsp;&nbsp;
                        <a href="#removerurl" class="deler  glyphicon glyphicon-remove-sign">&nbsp;</a>
                    </div>
                </li>
                {% endif %}
                <li>
                    <label to="address" class="inline_blocke">Dirección</label>
                    <input type="text" name="addressac"  id="addressac" maxlength="100" value="{{ent.addressac}}" />
                </li>
                <li>
                    <label to="cpac" class="inline_blocke">C.P.</label>
                    <input type="text" name="cpac" id="cpac" maxlength="10" style="width:80px;" class="void" value="{{ent.cpac}}" />
                    <input type="hidden" name="latitude" />
                    <input type="hidden" name="longitude" />
                </li>
                <li>
                    <label to="extra" class="inline_blocke">Extra</label><br/>
                    <textarea name="extra" id="extra" rows="3">{{ent.extra}}</textarea>
                </li>
            </ul>
            <div id="btn_green">
                <span class="inline_blocke" id ="saver_box">
                    <input  id="btn_save" type="submit" value="Guardar" class="btn_green"/>
                    <span>o <a href="">Cancelar</a></span>
                </span> 
            </div>
        </form>
<br/>

</div>
<iframe name="nopest" class="blind">No frames</iframe>
{% endblock %}





















