{% extends 'base2.html'%}
{% load staticfiles %}

{% block kuppe %}
 
     <link rel="stylesheet" type="text/css" media="screen" href="{% static "css/forms.css" %}" />
    <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
     <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
{% endblock %}

{% block content %}
<div class="forms_box">

    <form name="addentity" id="addentity"  method="post" action="addentity" enctype="multipart/form-data">
           {%csrf_token%}
           <input type="hidden" name="id" id="id" />
           <input type="hidden" name="photoa" id="photoa" />
            <div id="generalinfo_box">
                 <div class="hdform">Agregar nueva Organización o <a href="/contacto" class="t5">agregar Contacto</a></div>
               <div id="texts_box" class="inline_blocke">
                    <ul>
                        <li>
                            <label class="inline_blocke" to="nameac">Organización</label>
                            <input type="text" name="nameac" id="nameac" maxlength="100" tabindex="1"  class="void" placeholder=""/>
                        </li>
                        <li>
                          <label to="twitteract" class="inline_blocke">Twitter</label>
                          <input type="text" name="twitteract" id="twitteract" maxlength="100" />
                        </li>
                         <li>
                          <label to="twitteract" class="inline_blocke">Tag</label>
                          <input type="text" name="tag" id="tag" maxlength="100" />
                        </li>
                   </ul>
                </div>
                <div id="photo_box" class="inline_blocke">
                    <div>
                         <span class="inline_blocke imagen_label">Agregar Imágen</span> 
                        <input type="file" name="entity_file" id="entity_file" class="blind"  />
                        <a href="#addphoto" id="addephoto" class="inline_blocke">Seleccionar Archivo</a>
                    </div>
                    <br/>
                    <div>
                        <a href="#delphoto" class=" delphoto">Eliminar</a>
                        <img src="{% static "images/nophoto.jpg"%}" class="myphoto" height="90px" />
                    </div>
                </div>
            </div>
            <ul id="list_fields">
             {% for a in lista%}
                {% include "pices/ioptioner.html"%} 
             {% endfor %}
                <li>
                    <label to="address" class="inline_blocke">Dirección</label>
                    <input type="text" name="addressac"  id="addressac" maxlength="100" />
                </li>
                <li>
                    <label to="cpac" class="inline_blocke">C.P.</label>
                    <input type="text" name="cpac" id="cpac" maxlength="10" style="width:80px;" class="void" />
                    <input type="hidden" name="latitude" />
                    <input type="hidden" name="longitude" />
                </li>
                <li>
                    <label to="extra" class="inline_blocke">Extra</label><br/>
                    <textarea name="extra" id="extra" rows="3"></textarea>
                </li>
            </ul>
            <div id="btn_green">
                <span class="inline_blocke" id ="saver_box">
                    <input  id="btn_save" type="submit" value="Guardar" class="btn_green"/>
                    <span>o <a href="">Cancelar</a></span>
                </span> 
            </div>
        </form>
<br/>

</div>
<iframe name="nopest" class="blind">No frames</iframe>
{% endblock %}
