{% extends 'base2.html'%}

{% block kuppe %}
<script type="text/javascript" src= "/static/js/chumbukcet.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.back').click(goBack);    
        
    });
</script>
{% endblock %}

{% block content %}


<div class="table_n">
    <div class="table_r white_box">
        <div style="width:70%;"  class="table_c detailleft">
            <br/>
            <div class="layout_box">
            <div class="inline_blocke">
                {% if ent.photoimg.entity_file.url %}
                    <img src="/static/{{ent.photoimg.entity_file.url}}" height="41px" />
                {% else %}
                    <img src="/static/images/nophoto.jpg" />
                {% endif %}
            </div>
            <div class="inline_blocke info_list_contact">
                <h2>{{ent.nameac}}</h2>
                {% for u in  ent.urls_list %}
                <p class="t3">{{u.url}}</p>
                {% endfor %}
                {% for em in ent.entityemaillist_set.all %}
                    <p class="t5">{{em.email}}</p>
                {% endfor%}
                {% for em in ent.phones_list  %}
                    <p class="t5">{{em.phone}}: {{em.typePhone}}</p>
                {% endfor%}
            </div>
            
            </div>
            <ul class="menu_notas">
                    <li class="inline_blocke checked">Notas</li>
                    <li class="inline_blocke uncheked">Email</li>
            </ul>
                 <div class="layout_box">
                    <div>
                        <div class="t5">Agregar una nota acerca de {{c.namec}}</div>
                        <textarea class="borderme"> </textarea>
                    </div>
                    <div class="alineador">
                        <a href="#doit" class="link_green">Agregar nota</a>
                    </div>
                    {% for i in 'xxx'%}
                    <div class="notes_box">
                       <div class="inline_blocke table_c" style="padding:1px 6px;"><img src="/static/images/sobre.gif" /></div>
                       <div class="inline_blocke table_c">
                       <div class="t6">Jueves,febrero 16,2014</div>
                        <div class="t7">Nota de Rob Snaidder Director</div>
                        <div class="t7">Asunto:Vivamus ac ullamcorper </div>
                        <p class="t6">
                        Suspendisse ornare, lorem eget egestas auctor, turpis dolor condimentum neque, vitae scelerisque mauris risus eget odio.
                        Aenean pulvinar massa quis tellus pretium, vitae egestas libero pellentesque.
                        Duis quis sodales purus. Etiam sem lectus, mollis vel bibendum sed, mattis non velit.
                        Proin interdum leo sed urna varius tempus. Praesent egestas mi in condimentum tempor.
                        In eu pretium turpis. Sed libero purus, accumsan ac mauris tempus, hendrerit suscipit ligula. Suspendisse ac neque arcu.
                        </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>


        </div>
        
        <div id="" class="table_c graybox">
            <p class="contact_editor_lnk"><a href="/editentity/{{ent.pk}}/" class="linker">Editar</a></p>
            <div class="table_n greenbox">
                <div class="table_r">
                      <p class="table_c" style="text-align:left;padding-left:18px;">Tareas</p>
                    <p class="table_c" style="text-align:right;padding-right:18px;">Agregar Tarea</p>
               </div>
           </div>
                       {% include "tareas.html" %}
        <br/>

           <div class="greenbox"></div>
           <ul class="contact_info_box">
                {% for m in ent.emaillist_set.all %}
                <li><a href="mailto:{{m.email}}" class="linker_blue">{{m.email}}</a></li>
                {% endfor %}
                {% for tel  in c.phone_list %}
                <li><span class="t4 right_contact">{{tel.phones}}</span><span class="t5 right_contact"> {{tel.typephones}}</span></li>
                {% endfor %}
             <li>
                <br/>
                <div>
                    <div class="t5">Trabajo</div>
                    <div>
                        <br/>
                        <img src="/static/images/mapa.gif" />
                    </div>
                    <div class="t4 right_contact">{{ent.addressac}}</div>
                    <div class="t4 right_contact">{{ent.cpac}}</div>
                </div>
            </li>


            </ul>
{% endblock %}
