{% extends 'base2.html'%}

{% block kuppe %}
{% endblock %}

{% block content %}


<div class="table_n">
    <div class="table_r white_box">
            <div id="layout_box" class="table_c">
                <div id="headbar">Mis Organizaciones.</div>
                <ul id="list_results">
                    {% for c in entities %}
                    <li>
                        <div class="inline_blocke boxy">&nbsp;</div>
                        {% if c.photoimg.entity_file.url %}
                        <div class="inline_blocke myminiphoto" style="background-image:url(/static/{{c.photoimg.entity_file.url}});">
                        <a href="/detailentity/{{c.pk}}/" class="inline_blocke" style="width:100%;height:100%;">&nbsp;</a></div>
                        {% else %}
                        <div class="inline_blocke"><img src="/static/images/nophoto.jpg" /></div>
                        {% endif %}
                        <div class="inline_blocke">
                           <a href="/detailentity/{{c.pk}}/" class="t4">
                           <p>{{c.nameac}}</p>
                            {% for m in c.phones_list %}
                            <p class="inline_blocke t5">{{m.phone}}</p>
                            {% endfor %}
                            <p class="t5">
                            {% for em in c.entityemaillist_set.all %}
                                <div class="inline_blocke t5">{{em.email}}</div>
                            {% endfor %}
                            </p>
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        <div id="tagbox" class="table_c">
            <div class="t4">Buscar por etiquetas</div>
            <br/>
            <ul id="taglist">
                {% for i in abc %}
                <li>
                <span class="tale_c">{{i}}</span>
                    <span class="table_c">
                    {% for w in words %}
                       <span class="tag">{{w}}</span>
                    {% endfor %}
                    </span>
 
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
