<ul class="task_list">
    <li class="t6b">
        <span class="cube1 inline_blocke">&nbsp;</span>
        <span class="task_email">EMAIL</span>
        <span class="inline_blocke">El proyecto ya arranco, te veo mañana</span>
    </li>
    <li class="t6b">
        <span class="cube1 inline_blocke">&nbsp;</span>
        <span class="task_trabajo">TRABAJO</span>
        <span class="inline_blocke">El proyecto ya arranco, te veo mañana</span>
    </li>
    <li class="t6b">
        <span class="cube1 inline_blocke">&nbsp;</span>
        <span class="task_home">HOME</span>
        <span class="inline_blocke">El proyecto ya arranco, te veo mañana</span>
    </li>



</ul>
