{% extends 'base2.html'%}

{% block kuppe %}
<script type="text/javascript" src= "/static/js/chumbukcet.js"></script>
{% endblock %}

{% block content %}

<div  class="blind phateris" id="tagerbox">
    <form  method="post" class="tagger">
        {%csrf_token%}
        <input type="text" name="tag" />
        <input type="hidden" name="contactpk" value="{{c.pk}}" />
        <a href="#" class="link_green btn_add_tag">Agregar</a>
        <a href="#tagerbox" class="edipokill glyphicon glyphicon-remove-sign">&nbsp;</a>
    </form>
</div>


<div class="table_n">
    <div class="table_r white_box">
        <div style="width:70%;"  class="table_c detailleft">
            <div class="layout_box">
                <div class="inline_blocke">
                    {% if c.photoimg.contact_file.url %}
                        <img src="/static/{{c.photoimg.contact_file.url}}" height="41px" />
                    {% else %}
                        <img src="/static/images/nophoto.jpg" />
                    {% endif %}
                </div>
                <div class="inline_blocke info_list_contact">
                    <h2>{{c.namec}} {{c.lastname}}</h2>

                    <p class="t5 underline">{{c.chargec}}</p>
                    <p class="t5 underline"><a href="#" class="addtag">Agregar Etiqueta</a></p>
                    <p>Tags:</p>
                    <div id="tage_boxe">
                        {% for t in c.tages %}
                        <p class="inline_blocke t7">{{t}}</p>
                        {% endfor %}
                    </div>

                </div>
                </div>
                <br/>
                <div id="tabs">
                    <ul class="menu_notas">
                        <li class="inline_blocke checked"><a href="#tabs_1">Notas</a></li>
                        <li class="inline_blocke uncheked"><a href="#tabs_2">Email</a></li>
                    </ul>
                </div>
                <div class="layout_box">
                    <div>
                        <form action="/addnote" method="post" id="addnotes">
                        <div class="t5">Agregar una nota acerca de {{c.namec}}</div>
                        <textarea name="text" class="borderme"> </textarea>
                        {%csrf_token%}
                        <input type="hidden" name="sender" value="{{myme.userrelated}}" />
                        <input type="hidden" name="receptor" value="{{c.pk}}" />
                         <div class="alineador">
                         <input type="submit" value="Agregar nota" class="btn_green" />
                        </div>
                        </form>
                    </div>
                    <div class="notes_box">
                        {%for note in c.note_set.all|dictsort:"date_create" reversed %}
                        <div class="notes_list"> 
                            <div class="inline_blocke table_c" style="padding:1px 6px;"><img src="/static/images/sobre.gif" /></div>
                            <div class="inline_blocke table_c">
                                <div class="t6 fecha_s">{{note.date_create}}</div>
                                <div class="t7">Nota de <span class="sender">{{note.sender.contact_set.all.0.namec}}
                                    {{note.sender.contact_set.all.0.lastname}}</span>
                                </div>
                                <p class="t6 text">{{note.text}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
       <div id="" class="table_c graybox">
            <div class="table_n" style="height:40px;width:98%;margin.auto;">
                <div class="table_r">
                    <div class="table_c" style="text-align:left;">
                        <p class="contact_editor_lnk"><a href="/edtcontact/{{c.pk}}/" class="linker">Editar Persona</a></p>  
                    </div>
                    <div class="table_c" style="text-align:right;">
                        <a href="/delcontact/{{c.pk}}/" class="linker deleteperson">Eliminar Persona</a>
                    </div>
                </div>
            </div>
            
            <div class="table_n greenbox">
                <div class="table_r">
                    <p class="table_c" style="text-align:left;padding-left:18px;">Tareas</p>
                    <p class="table_c" style="text-align:right;padding-right:18px;">Agregar Tarea</p>
        
                </div> 
        </div>
            
                    {% include "tareas.html" %}
           <br/>
           <div class="greenbox"></div>
           <ul class="contact_info_box">
                <li><p class="t5">Email:</p></li>
                {% for m in c.emaillist_set.all %}
                <li><a href="mailto:{{m.email}}" class="linker_blue">{{m.email}}</a></li>
                {% endfor %}
                <li class="t5">Teléfono(s):</li>
                {% for tel  in c.phone_list %}
                <li><span class="t4 right_contact">{{tel.phones}}</span><span class="t5 right_contact"> {{tel.typephones}}</span></li>
                {% endfor %} 
            <li>
                <br/>
                <div>
                    <div class="t5">Localización:</div>
                    <div>
                        <br/>
                        <img src="/static/images/mapa.gif" />
                    </div>
                    <div class="t4 right_contact"><span class="t5">Calle:</span> {{c.address}}</div>
                    <div class="t4 right_contact"><span class="t5">Colonia:</span> {{c.colonia}}</div>
                    <div class="t4 right_contact"><span class="t5">Delegación oMunicipio:</span> {{c.delomun}}</div>
                    <div class="t4 right_contact"><span class="t5">Estado:</span> {{c.estado}}</div>
                    <div class="t4 right_contact"><span class="t5">C.P.:</span>{{c.cp}}</div>
                </div>
            </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
