<style>
.inline_blocke{
    display:inline-block;display: -moz-inline-stack;display: inline-block;vertical-align: top;
    zoom: 1;*display: inline;text-align:justify;
}

.table{
        display:table;
        width:60%;
        min-width:300px;
        border:1px solid black;
    }

.tabler{
        display:table-row;
        vertical-align:bottom;
        text-align:center;
    }

.tablec{
    min-width:300px;
    margin:3px auto;
    border:1px solid gray;
    height:40px;
    vertical-align:middle;
    display:table-cell;
}

</style>


<div class="table">

    <div class="tabler">
    
        <div class="tablec inline_blocke">asdasdasd</div>
        <div class="tablec inline_blocke">asdaaaaaaaaaaaaaaaaaa</div>


    </div>

</div>

