<div id="logo_box">
    <span id="logo" class="inline_blocke"><img src="/static/images/logo.png" style="padding-top:2px;" /></span>
    <a href="/" class="inline_blocke"><img src="/static/images/btn_home.jpg" /></a>
    <div class="inline_blocke lnk_ms"><a href="#btn"></a></div>
</div>

<div id="user_info_box">
    <div class="inline_blocke" id="photo_home" style="background:url(/static/{{myme.photoimg.contact_file.url}}) no-repeat;background-size:cover;">
    </div>
    <div class="inline_blocke name_box">
        <h4 class="salute">Bienvenido</h4>
        <p class="myname">{{myme.namec}}</p>
    </div>
</div>
<ul id="left_menu">
    <li><a href="/" class="inline_blocke"><img src="/static/images/l1.png" /><span>Bienvenido</span></a></li>
    <li class="blind"><a href="#" class="inline_blocke"><img src="/static/images/l2.png" />Actividad Reciente</a></li>
    <li>
        <a href="/mycontacts" class="inline_blocke"><img src="/static/images/l3.png" /> Mis Contactos</a>
    </li>
    <li>
        <a href="/myentities"><img src="/static/images/l4.png" /> Mis Organizaciones</a>
    </li>
     <li class="blind"><a href="#" ><img src="/static/images/l4.png" />Tareas</a></li>
     <li class="blind"><a href="#"><img src="/static/images/l5.png" />Buscador > </a></li>
</ul>
<div id="reciente" style="display:none;">
    <div class="hdt" style="padding-bottom:5px;">&nbsp;&nbsp;VISTO RECIENTE&nbsp;&nbsp;</div>
    <ul>
        <li>
            <img src="/static/images/nophoto.jpg" height="33px">
            <div class="inline_blocke">
                <div class="name_left">This is his name</div>
                <div class="text_left">This is his charge</div>
            </div>
        </li>
         <li>
            <img src="/static/images/nophoto.jpg" height="33px">
            <div class="inline_blocke">
                <div class="name_left">This is his name</div>
                <div class="text_left">This is his charge</div>
            </div>
        </li>
       <li>
            <img src="/static/images/nophoto.jpg" height="33px">
            <div class="inline_blocke">
                <div class="name_left">This is his name</div>
                <div class="text_left">This is his charge</div>
            </div>
        </li>
    </ul>
 </div> 
