{% extends 'base2.html'%}
{% load tager %}

{% block content %}
<div class="table_n">
    <div class="table_r white_box">
            <div id="layout_box" class="table_c">
                <div id="headbar">Mis Contactos.</div>
                <div class="t6" style="text-align:left;padding:2px 14px;">
                    {% include 'forms/search_form.html' %}
                </div>
                <ul id="list_results">
                    {% for c in contacts %}
                    <li>
                        <div class="inline_blocke boxy">&nbsp;</div>
                        {% if c.photoimg.contact_file.url %}
                        <div class="inline_blocke myminiphoto" style="background-image:url(/static/{{c.photoimg.contact_file.url}});">
                            <a href="/detailcontact/{{c.pk}}/" class="inline_blocke" style="width:100%;height:100%;">&nbsp;</a>
                        </div>
                        {% else %}
                        <div class="inline_blocke"><img src="/static/images/nophoto.jpg" /></div>
                        {% endif %}
                        <div class="inline_blocke">
                            <a href="/detailcontact/{{c.pk}}/" class="t4">
                            <p>{{c.namec}}</p>
                            <p>
                            {% for geoinfo in c.contactgeoinfo_set.all%}
                            <div class="t5">{{geoinfo.address}} , {{geoinfo.cp}}</div>
                            {% endfor %}
                            </p>
                            {% for f in c.phone_list %}
                            <p class="inline_blocke t5">{{f.phones}}</p>
                            {% endfor %}
                            <br/>
                            {% for m in c.emaillist_set.all %}
                            <p class="inline_blocke t5">{{m.email}}</p>
                            {% endfor %}
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        <div id="tagbox" class="table_c">
            <div class="t4">Buscar por etiquetas</div>
            <br/>
            <ul id="taglist">
                {% for x,y in abc.items %}
                    {% if y %}
                    <li>
                        <span class="table_c">{{x}}</span>
                        <span class="table_C">
                        {% for v in y %}
                            <div class="inline_blocke"><a href="#{{v.tag}}">{{v.tag}}</a></div>
                        {% endfor %}
                        </span>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
