{% extends 'base2.html'%}

{% load staticfiles %}


{% block kuppe %}
     <script type="text/javascript" src="{% static "js/validations.js" %}"></script>
     <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
{% endblock %}



{% block content %}
   
<div class="table_n">
    <div class="table_r white_box">
            <div id="layout_box" class="table_c">
                <div id="headbar">Resultados de Búsqueda:</div>
                <div class="t6" style="text-align:left;padding:2px 14px;">
                    {% include "forms/search_form.html"%}
                </div>
                <ul id="list_results">
                    {% for c in response  %}
                    <li>
                        <a href="{{c.link}}" class="t4">
                        <div class="inline_blocke boxy">&nbsp;</div>
                        {% if c.photoimg.entity_file.url %}
                        <div class="inline_blocke myminiphoto" style="background-image:url(/static/{{c.photoimg.entity_file.url}});">&nbsp;</div>
                         {% elif c.photoimg.contact_file.url %}
                        <div class="inline_blocke myminiphoto" style="background-image:url(/static/{{c.photoimg.contact_file.url}});">&nbsp;</div>
                        {% else %}
                        <div class="inline_blocke myminiphoto" style="background-image:url(/static/images/nophoto.jpg);"/></div>
                        {% endif %}
                        <div class="inline_blocke">
                            <p class="t5">{{c.type}}</p>
                            <p>{{c.name}}</p>
                            <p class="t5">{{c.address}}</p>
                            {% for p in c.phones %}
                                {% if p.phones %}
                                    <p class="t5">{{p.phones}}</p>
                                {% else %}
                                    <p class="t5">{{p.phone}}</p>
                                {% endif %}
                            {% endfor %}
                            {% for m in c.emaillist_set.all %}
                            <p class="inline_blocke t5">{{m.email}}</p>
                            {% endfor %}
                        </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        <div id="tagbox" class="table_c">
            <div class="t4">Buscar por etiquetas</div>
            <br/>
            <ul id="taglist">
                 {% for x,y in abc.items %}
                    {% if y %}
                    <li>
                        <span class="table_c">{{x}}</span>
                        <span class="table_C">
                        {% for v in y %}
                            <div class="inline_blocke"><a href="#{{v.tag}}" class="tagger">{{v.tag}}</a></div>
                        {% endfor %}
                        </span>
                    </li>
                    {% endif %}
                {% endfor %}
              </ul>
        </div>
    </div>
</div>
{% endblock %}
