<ul>
    <li class="inline_blocke">
        <div class="btn_green inline_blocke">+<a href="/contacto">Contacto</a></div>
        <div class="btn_green inline_blocke">+<a href="/entity">Organización</a></div>
    </li>
    <li class="inline_blocke form_search">
        <form name="srch" id="srch" method="post" action="/resultados">
            {%csrf_token%}
            <input type="text" name="words" maxlength="100" class="inline_blocke" style="margin-top:4px;margin-left:12px;width:90%;"/>
            <input type="submit" id="buscadore" value="&nbsp;" style="background:url(/static/images/buscar.jpg);width:30px;" />
        </form>
    </li>
   <!--  <li class="inline_blocke"><div class="inline_blocke" id="msgr"><a href="#msgr">0</a></div></li> -->
    <li class="inline_blocke">
        <div class="inline_blocke" id="nameplace">
            <span class="name_c">{{myme.namec}}</span>
            <span class="last_name_c">{{myme.lastname}}</span>
        </div>
    </li>
    <li class="inline_blocke">
        <div style="background-image:url(/static/{{myme.photoimg.contact_file.url}});" class="myminiphoto inline_blocke"/>
    </li>
    <li class="inline_blocke">
        <a href="/logout" class="linker">Logout</a>
    </li>
</ul>
